.navbar {
    overflow: hidden;
    background-color: #1d1d1d;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1000;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #adadad;
    text-align: center;
    padding: 14px 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
  }

  #logo{
      font-size: 30px;
      font-weight: bold;
      font-style: italic;
  }
  
  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  /* Main content */
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }